apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: load-arena
  namespace: load-arena
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: load-arena
  minReplicas: 2
  maxReplicas: 10
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
